/* add fonts*/
html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kalam', Times New Roman, sans-serif;
    color: #fff;
    background: #5D3832;
    margin: 0;
    font-size: 1.9rem;
    width: 100%;
    line-height: 2.5rem;
    overflow-x: hidden;
}

/* article stuff */
article {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #5D3832;
}

/* header stuff */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imgContainer {
  background-image: url('../images/mtg_orange.jpg');
  background-size: cover;
  width: 100%;
  height: 15rem;
}
h1 {
  font-family: 'IM Fell DW Pica', Impact, serif;
  font-size: 7rem;
  margin: auto;
  line-height: 5rem;
}

h2 {
  font-size: 3rem;
}

/* tooltip stuff */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 260px; /*FIX*/
  background-color: #A3627F;
  color: #fff;
  padding: 0.03rem;
  border-radius: 10px;

  top: -40px;
  left: -50%;
}

.hover-t:hover .tooltip-text {
  visibility: visible;
}

.hover-t {
  position: relative;
  display: inline-block;
  text-align: center;
}





/* left-side text stuff */
#text {
  max-width: 1280px; /* keep */
  margin: 0 auto 4rem auto; /* keep */
  display: grid; /* keep */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
      "intro anatomyImg"
      "sections sections";
}



/* grid template areas */
#intro {
  grid-area: intro;
  text-align: center;
  height: 485.18px;
  padding: 1rem;
  padding-bottom: 0rem;
  line-height: 2rem;
}
#intro h2 {
  line-height: 3rem;
}
#intro p {
  margin: 1.3rem auto 1.3rem auto;
  text-align: center;
}
#anatomyImg {
  grid-area: anatomyImg;
  width: 640px;
  z-index: 10;
}

/* button stuff */
#intro ol {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#intro li {
  background: #A3627F;
  margin: 0.3rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  width: 15rem;
  border-radius: 10px;
  font-size: 1.4rem;
}
#intro a {
  text-decoration: none;
}



/* anatomy image stuff */
#anatomyImg img{
  max-width: 40rem;
}


/* -----------section stuff--------- */

#sections {
  grid-area: sections;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#sections p {
  padding-top: 1rem;
}

.declare, .begDiv, .combatDiv, .mainPhase, .endDiv {
  padding: 1.8rem;
}

.declare {
  background: #2B2B2B;
  margin-bottom: 2rem;
}

/*------beginning phase------*/
#beginning {
  background: #9E578C;
}
.begDiv {
  padding: 1.8rem;
}
#untap {
  background: #935091;
}
#upkeep {
  background: #834488;
}
#draw {
  background: #6F3F86;
}


/*------main1 phase------*/
#divMain1Title {
  background: #5C427E;
}

#divMain1 {
  background: #4A3D79;
}

/*------combat phase------*/
#combat {
  background: #465088;
}

#begCombat {
  background: #48688F;
}
#declareAttacks {
  background: #507C91;
}
#declareBlocks {
  background: #447E75;
}
#resolveDmg {
  background: #497B59;
}
#endCombat {
  background: #687951;
}

/*------main2 phase------*/
#divMain2Title {
  background: #7E8452;
}
#divMain2 {
  background: #7D7744;
}

/*------end phase------*/

#dend {
  background: #7F693F;
}

#effects {
  background: #795841;
}

#cleanup {
  background: #794C41;
}

/* --------end section stuff------- */

/* floating stuff */
p, ul {
  max-width: 35ch;
  line-height: 2.3rem;
}

ul {
  padding-left: 1rem;
}
li {
  padding-top: 1rem;
}

.hide {
  display: none;
}




/*border*/

.border {
  border: 0.3rem solid #fff;
}


/* footer */
footer {
  padding: 2rem;
  margin: 1rem;
  background: #A3627F;
  border-radius: 20px;
}



a:link {
  color: #fff;
}
a:visited {
  color: #000;
}
a:focus {
  color: #000;
}
a:hover {
  color: #C5DBF1;
}
a:active {
  color: #006875;
}









@media screen and (max-width: 1233px) {

  #text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
  }

  h1 {
    font-size: 5rem;
    text-align: center;
  }

  /* anatomy image stuff */
  #anatomyImg img{
    max-width: 35rem;
  }
  #anatomyImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  article {
    margin: auto;
  }

  /*------beginning phase------*/
  #beginning {
    /* max-height: 2268px; */
    max-width: 25ch;
    margin: auto;
  }

  /*------main1 phase------*/
  #main1 {
    /* height: 1443px; */
    max-width: 25ch;
    margin: auto;
  }

  /*------combat phase------*/
  #combat {
    /* height: 3914px; */
    max-width: 25ch;
    margin: auto;
  }

  /*------main2 phase------*/
  #main2 {
    /* height: 1143px; */
    max-width: 25ch;
    margin: auto;
  }

  /*------end phase------*/
  #end {
    /* height: 1483px; */
    max-width: 25ch;
    margin: auto;
  }

  #beginning, #main1, #combat, #main2, #end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #anatomyImg img{
    max-width: 24rem;
  }
}
